.mainBanner{
    height: 100vh; 
    background: url('./img/mainBanner.jpg') no-repeat center center;
    background-size: cover;
    justify-content: center;
}
.navbar-brand{
    color: white
}
.nav-link{
    color:white;
}
.nav-link:hover{
    color: #0047BA;
}
.titleMain{
    color: white;
}

#eventsImage{
    height: 300px;
}
.navbar-toggler{
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath fill='none' stroke='white' stroke-width='3' stroke-linecap='round' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}
#byuLogo{
    height: 200px;
}
.jumbotron-banner {
    height: 60vh;
    background-image: url('/img/auditorium.jpg'); 
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
}
#rank img{
    text-align: center;
}

/* ABOUT US PAGE */
.aboutUsBanner{
    height: 80vh; 
    background: url('./img/aboutUsBanner.jpg') no-repeat center center;
    background-size: cover;
    justify-content: center;
}

#sectionVideo {
    position: relative;
    width: 100%;
    height: 80vh; 
    overflow: hidden; 
  }
  
  #banner-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
  }

  @media (max-width: 600px) {
    /* Styles for small screens like phones */
    .titles {
        margin-bottom: 200px; 
    }
}
